@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf)
    format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrQ.ttf)
    format("truetype");
}
.business-card {
  overflow: hidden;
  position: relative;
  line-height: 1.6;
  font-size: 4.5vmin;
  width: 100vmin;
  height: 60vmin;
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.content {
  font-family: "Raleway", sans-serif;
  color: rgb(172, 147, 90);
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.top {
  animation: inLeft;
  animation-duration: 1s;
}
.name {
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
}
.info {
  font-size: 0.4em;

  line-height: 1;
}
.profession {
  color: rgb(172, 147, 90);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}
.phone a {
  color: rgb(172, 147, 90);
  text-decoration: none;
}

.phone a:hover {
  text-decoration: underline;
}
.services {
  color: rgb(172, 147, 90);

  font-size: 0.7em;
}
.bottom {
  display: flex;
  justify-content: space-between;
}
.bottom .left {
  font-weight: 700;
  font-size: 0.9em;

  animation: inLeft;
  animation-duration: 1s;
}
.bottom .right {
  align-self: end;
  animation: inRight;
  animation-duration: 1s;
}
.website {
  color: rgb(172, 147, 90);
  font-weight: 400;
}
.location {
  white-space: nowrap;
  text-align: right;
  color: rgba(0, 0, 0, 0.9);

  font-size: 0.7em;
}
.background {
  z-index: -1;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slice {
  top: -59vmin;
  left: -26vmin;
  position: absolute;
  width: 90vmin;
  height: 150vmin;
  background: rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  transform: rotate(38deg);
  animation: inRotate;
  animation-duration: 1s;
}
@keyframes inRotate {
  0% {
    transform: translateX(-100vmin) rotate(15deg);
  }
  100% {
    transform: translateX(0) rotate(38deg);
  }
}
@keyframes inLeft {
  0% {
    transform: translateX(-100vmin);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes inRight {
  0% {
    transform: translateX(100vmin);
  }
  100% {
    transform: translateX(0);
  }
}
html {
  height: 100%;
}
body {
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background: url("./brush.jpeg") no-repeat center center fixed;
  background-size: cover;
}
/* Fire */
/* Water */
